

.add-new-asset{
    display: flex;
    padding: 10px 10px 20px 10px;
}
.add-new-asset .btn-add-new-asset-container{
    position: absolute;
    right: 10px;
}

::ng-deep .dropdown-menu li{
    padding: 5px 10px;
}