<div class="add-new-asset">
    <div class="title-page">Bộ phận</div>
    <div class="btn-add-new-asset-container">
        <button class="btn btn-add-new-asset" (click)="createOrEditAsset()">Thêm</button>
    </div>
</div>
<div class="asset-component">
    <p-table [scrollable]="true" scrollHeight="600px" scrollWidth="1100px" [value]="assetList" [resizableColumns]="true" [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn pSortableColumn="assetCode" style="width:150px">
                Chức năng
            </th>
            <th pResizableColumn pSortableColumn="assetCode" style="width:120px">
                Mã bộ phận
                <p-sortIcon field="assetCode"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="assetName" style="width:120px">
                Tên bộ phận
                <p-sortIcon field="assetName"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="orginalPrice" style="width:120px">
                Ghi chú 
                <p-sortIcon field="orginalPrice"></p-sortIcon>
            </th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
        <tr>
            <td style="width:150px">
                <div class="btn-group dropdown" dropdown container="body">
                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Hành động
                    </button>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                (click)="createOrEditAsset(asset)">Sửa</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                (click)="deleteAsset(asset)">Xóa</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td style="width:120px">{{ asset.assetCode }}</td>
            <td style="width:120px">{{ asset.assetName}}</td>
            <td style="width:120px">{{ asset.orginalPrice }}</td>

        </tr>
    </ng-template>
</p-table>
</div>
