<div class="header-title">
    <div class="title-page">Chứng từ ghi giảm</div>
    <div class="btn-add-container">
        <button class="btn btn-add" (click)="createOrEditReduceAsset()">Thêm chứng từ</button>
    </div>
</div>
<div class="content-component">
    <p-table [scrollable]="true" scrollHeight="600px" scrollWidth="1100px" [value]="reduceAssetList" [resizableColumns]="true" [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn pSortableColumn="" style="width:150px">
                Chức năng
            </th>
            <th pResizableColumn pSortableColumn="reduceAssetCode" style="width:120px">
                Mã chứng từ
                <p-sortIcon field="reduceAssetCode"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="reduceAssetDate" style="width:120px">
                Ngày chứng từ 
                <p-sortIcon field="reduceAssetDate"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="creationTime" style="width:150px">
                Ngày ghi giảm
                <p-sortIcon field="creationTime"></p-sortIcon>
            </th>
            <th pResiazableColumn pSortableColumn="note" style="width:120px">
                Nội dung 
                <p-sortIcon field="note"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="totalReduceAssetValue" style="width:150px">
                Tổng giá trị thu hồi
                <p-sortIcon field="totalReduceAssetValue"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
        <tr>
            <td style="width:150px">
                <div class="btn-group dropdown" dropdown container="body">
                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Hành động
                    </button>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                (click)="createOrEditReduceAsset(asset)">Sửa</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                (click)="deleteReduceAsset(asset)">Xóa</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td style="width:120px">{{ asset.reduceAssetCode }}</td>
            <td style="width:120px">{{ asset.reduceAssetDate }}</td>
            <td style="width:150px">{{ asset.creationTime}}</td>
            <td style="width:120px">{{ asset.note }}</td>
            <td style="width:150px">{{ asset.totalReduceAssetValue}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
