<!-- <p-table 
  [columns]="cols"
  [value]="assetList"
  [lazy]="true"
  (onLazyLoad)="loadCarsLazy($event)"
  [paginator]="true"
  [rows]="10"
  [totalRecords]="totalRecords"
  [loading]="loading"
  [rowsPerPageOptions]="[10,20,30]"
  [defaultSortOrder]="-1"
  dataKey="assetCode"
  [resizableColumns]="true"
  columnResizeMode="fit"
>
	<ng-template pTemplate="header" let-columns>
		<tr>
			<th *ngFor="let col of columns" pReorderableColumn [pSortableColumn]="col.field" pResizableColumn
				[style.width]="col.width">
				{{col.header}}
				<p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
					ariaLabelDesc="Activate to sort in descending order"
					ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
			</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
		<tr [pReorderableRow]="index">
			<td>{{rowData.assetCode}}</td>
			<td>{{rowData.assetName}}</td>
		</tr>
	</ng-template>
</p-table> -->
<div class="add-new-asset">
    <div class="title-page">Sổ tài sản</div>
    <div class="btn-add-new-asset-container">
        <button class="btn btn-add-new-asset" (click)="createOrEditAsset()">Thêm</button>
    </div>
</div>
<div class="asset-component">
    <p-table (onLazyLoad)="getAll($event)" [paginator]="true" [lazy]="true" [rows]="3" [totalRecords]="totalRecords"  [scrollable]="true" scrollHeight="320px" scrollWidth="1100px" [value]="assetList" [resizableColumns]="true" [autoLayout]="true" [responsive]="primengTableHelper.isResponsive">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn pSortableColumn="assetCode" style="width:150px">
                Chức năng
            </th>
            <th pResizableColumn pSortableColumn="assetCode" style="width:120px">
                Mã tài sản
                <p-sortIcon field="assetCode"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="assetName" style="width:120px">
                Tên tài sản
                <p-sortIcon field="assetName"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="orginalPrice" style="width:120px">
                Nguyên Giá 
                <p-sortIcon field="orginalPrice"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="increaseAssetDate" style="width:140px">
                Ngày ghi tăng
                <p-sortIcon field="increaseAssetDate"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="amortizationDate" style="width:150px">
                Ngày khấu hao 
                <p-sortIcon field="amortizationDate"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="numberOfDayUsedAsset" style="width:140px">
                Ngày sử dụng 
                <p-sortIcon field="numberOfDayUsedAsset"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="numberOfDayRemaing" style="width:130px">
                Ngày còn lại
                <p-sortIcon field="numberOfDayRemaing"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="amortizationValue" style="width:200px">
                Giá trị tính khấu hao
                <p-sortIcon field="amortizationValue"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="depreciationOfAsset" style="width:170px">
                Khấu hao tài sản
                <p-sortIcon field="depreciationOfAsset"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="residualValue" style="width:140px">
                Giá trị còn lại
                <p-sortIcon field="residualValue"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="usageStatus" style="width:180px">
                Trạng thái sử dụng
                <p-sortIcon field="usageStatus"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="reasonForReduction" style="width:140px">
                Lí do ghi giảm
                <p-sortIcon field="reasonForReduction"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="recoverableValue" style="width:140px">
                Giá trị thu hồi
                <p-sortIcon field="recoverableValue"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="creationTime" style="width:130px">
                Ngày tạo
                <p-sortIcon field="creationTime"></p-sortIcon>
            </th>     
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
        <tr>
            <td style="width:150px">
                <div class="btn-group dropdown" dropdown container="body">
                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Hành động
                    </button>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                (click)="createOrEditAsset(asset)">Sửa</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                (click)="deleteAsset(asset)">Xóa</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td style="width:120px">{{ asset.assetCode }}</td>
            <td style="width:120px">{{ asset.assetName}}</td>
            <td style="width:120px">{{ asset.orginalPrice }}</td>
            <td style="width:140px">{{ asset.increaseAssetDate}}</td>
            <td style="width:150px">{{ asset.amortizationDate }}</td>
            <td style="width:140px">{{ asset.numberOfDayUsedAsset}}</td>
            <td style="width:130px">{{ asset.numberOfDayRemaing }}</td>
            <td style="width:200px">{{ asset.amortizationValue}}</td>
            <td style="width:170px">{{ asset.depreciationOfAsset }}</td>
            <td style="width:140px">{{ asset.residualValue}}</td>
            <td style="width:180px">{{ asset.usageStatus }}</td>
            <td style="width:140px">{{ asset.reasonForReduction}}</td>
            <td style="width:140px">{{ asset.recoverableValue}}</td>
            <!-- <td style="width:100px">{{ asset.increaseAssetId }}</td> -->
            <td style="width:130px">{{ asset.creationTime}}</td>
        </tr>
    </ng-template>
    <!-- <div class="" *ngIf="totalRecords == 0">
        {{ l("NoData") }}
    </div>
    <div class="order-history__paginator" id="my-order-paging">
        <p-paginator [rows]="2" #paginator
            (onPageChange)="getAll()"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="2"
            styleClass="history-table-paginator">
        </p-paginator>
    </div> -->
</p-table>
</div>
<app-create-or-edit-asset #createOrEditAssetModal (modalSave)="getAll()"></app-create-or-edit-asset>
