.asset-component{

}
::ng-deep .asset-component table tr td{
    white-space: break-spaces !important;
}
::ng-deep  
.asset-component table tr td{
    padding: 5px 10px;
}
::ng-deep 
.asset-component table tr th{
    padding: 10px;
}
::ng-deep .asset-component table tbody tr{
    background-color: #fff;
}
::ng-deep .asset-component table tbody tr:nth-child(2n){
    background-color: aliceblue;
}
