<div class="increase-asset-component" busyIf="loading">
    <div class="header-title-container main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0 !important">
        <h4 class="header-title">
            <span class="title-page parent-title" (click)="close()">Chứng từ ghi tăng</span>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="title-page title-child" *ngIf="increaseAsset?.id">{{"Sửa chứng từ" | localize}}</span>
            <span class="title-page title-child" *ngIf="!increaseAsset?.id">{{"Tạo mới chứng từ" | localize}}</span>
        </h4>
    </div>
    <div class="increase-asset-container">
        <div class="increase-asset-content pd-0">
            <form #increaseAssetForm="ngForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">     
                <div class="title-page text-title">Thông tin chứng từ ghi tăng</div>
                <div class="modal-body row bg-white">
                    <div class="form-group col-4">
                        <label for="AssetCode">{{"Mã chứng từ" | localize}} *</label>
                        <input id="AssetCode" #assetCode="ngModel" type="text" name="AssetCode" class="form-control" [(ngModel)]="increaseAsset.increaseAssetCode" required maxlength="256" (change)="setIncreaseAssetCode()"/>
                        <div style="display: grid;">
                            <span *ngIf="!increaseAsset?.increaseAssetCode" class="error-message">Trường này không được để trống</span>
                            <span class="error-message" *ngIf="increaseAsset.increaseAssetCode">{{increaseAssetCodeMessage}}</span>
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label for="AssetName">{{"Ngày chứng từ" | localize}} </label>
                        <input id="AssetName" #assetName="ngModel" type="date" name="AssetName" class="form-control" [(ngModel)]="increaseAsset.creationTime" required maxlength="256" />
                        <span *ngIf="!increaseAsset?.creationTime" class="error-message">Trường này không được để trống</span>
                    </div>
                    <div class="form-group col-4">
                        <label for="IncreaseAssetDate">{{"Ngày ghi tăng" | localize}} </label>
                        <input id="IncreaseAssetDate" #increaseAssetDate="ngModel" type="date" name="IncreaseAssetDate" class="form-control" [(ngModel)]="increaseAsset.increaseAssetDate"/>
                        <span *ngIf="!increaseAsset?.increaseAssetDate" class="error-message">Trường này không được để trống</span>
                    </div>
                    <div class="form-group col-12">
                        <label for="increaseNote">{{"Ghi chú" | localize}} </label>
                        <input id="increaseAssetNote" #increaseAssetNote="ngModel" rows="4" cols="50" name="IncreaseAssetNote" class="form-control" [(ngModel)]="increaseAsset.note"/>
                    </div>
                </div>                
            </form>
        </div>
    </div>
    <div class="increase-asset-table">
        <div class="title-page text-title">Thông tin tài sản ghi tăng</div>
        <div class="bg-white pd-16">
            <div _ngcontent-olq-c180="" class="row align-items-center">
                <div _ngcontent-olq-c180="" class="col-6"><div _ngcontent-olq-c180="" class="form-group m-form__group align-items-center"><div _ngcontent-olq-c180="" class="input-group"><input _ngcontent-olq-c180="" name="filterText" autofocus="" placeholder="Tìm kiếm theo mã tài sản, tên tài sản, tên loại tài sản người tạo" type="text" class="form-control m-input ng-untouched ng-pristine ng-valid" ng-reflect-name="filterText" ng-reflect-model=""><span _ngcontent-olq-c180="" class="input-group-btn"><button _ngcontent-olq-c180="" type="submit" class="btn btn-search"><i _ngcontent-olq-c180="" class="fa fa-search"></i></button></span></div>
                </div>
            </div>
            <div class="col-6">
                <div _ngcontent-olq-c180="" class="form-group m-form__group align-items-center"><div _ngcontent-olq-c180="" class="input-group" style="justify-content: stretch">
                    <button class="btn btn-increase-asset ml-1" (click)="onDeleteAssetListFromTable()">Xóa tài sản</button>
                    <button style="position: absolute; right: 0px" class="btn btn-increase-asset ml-1" (click)="show()">Chọn tài sản</button>
                </div>
                </div>
            <div>
        </div>
            
                
            </div>
            <div class="content-component">
                <p-table [scrollable]="true" scrollHeight="600px" scrollWidth="1100px" [value]="assetList" [resizableColumns]="true" [autoLayout]="true">
                    <ng-template pTemplate="header">
                        <tr>
                            
                            <th style="width:50px" class="pl-1">
                                <input type="checkbox" name="selectedAllAsset" [(ngModel)]="isSelectedAllAsset" (click)="onSelectedAllAsset($event)"/>
                            </th>
                            <th style="width:100px"> Xóa
                            </th>
                            <th pResizableColumn pSortableColumn="assetCode" style="width:120px">
                                Mã tài sản
                                <p-sortIcon field="assetCode"></p-sortIcon>
                            </th>
                            <!-- <th pResizableColumn pSortableColumn="assetTypeName" style="width:120px">
                                Loại tài sản
                                <p-sortIcon field="assetTypeName"></p-sortIcon>
                            </th> -->
                            <th pResizableColumn pSortableColumn="assetName" style="width:120px">
                                Tên tài sản
                                <p-sortIcon field="assetName"></p-sortIcon>
                            </th>
                            <th pResizableColumn pSortableColumn="orginalPrice" style="width:100px">
                                Nguyên Giá 
                                <p-sortIcon field="orginalPrice"></p-sortIcon>
                            </th>
                            <th pResizableColumn pSortableColumn="departmentName" style="width:150px">
                                Bộ phận sử dụng
                                <p-sortIcon field="departmentName"></p-sortIcon>
                            </th>
                            <th pResizableColumn pSortableColumn="departmentName" style="width:150px">
                                Người sử dụng
                                <p-sortIcon field="departmentName"></p-sortIcon>
                            </th>
                            <!-- <th pResizableColumn pSortableColumn="departmentName" style="width:200px">
                                Ngày bắt đầu sử dụng
                                <p-sortIcon field="departmentName"></p-sortIcon>
                            </th> -->
                            <!-- <th pResizableColumn pSortableColumn="numberOfDayUsedAsset" style="width:150px">
                                Thời gian sử dụng
                                <p-sortIcon field="numberOfDayUsedAsset"></p-sortIcon>
                            </th>
                            <th pResizableColumn pSortableColumn="amortizationValue" style="width:200px">
                                Giá trị tính khấu hao
                                <p-sortIcon field="amortizationValue"></p-sortIcon>
                            </th> -->
                            <th pResizableColumn pSortableColumn="amortizationValue" style="width:120px">
                                Hao mòn lũy kế
                                <p-sortIcon field="amortizationValue"></p-sortIcon>
                            </th>
                            <th pResizableColumn pSortableColumn="amortizationValue" style="width:120px">
                                Giá trị còn lại
                                <p-sortIcon field="amortizationValue"></p-sortIcon>
                            </th>
                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-assetSelected>
                        <tr>
                            <td style="width:50px" class="pl-1"><input type="checkbox" name="selectedAsset" (change)="onSelectedAsset(assetSelected, $event)"></td>
                            
                            <td style="width:100px"><button type="button" class="btn btn-sm bg-danger ng-tns-c137-2" (click) = "deleteAssetItemFromTable(assetSelected)"><i class="fas fa-trash ng-tns-c137-2"></i> Xóa </button></td>
                            
                            <td style="width:120px">{{ assetSelected.assetCode}}</td>
                            <!-- <td style="width:120px">{{ assetSelected.assetTypeName}}</td> -->
                            <td style="width:120px">{{ assetSelected.assetName}}</td>
                            <td style="width:100px">{{ assetSelected.orginalPrice }}</td>   
                            <td style="width:150px">
                                <select name="department" [(ngModel)]="assetSelected.departmentId" class="form-control" (change)="onSelectDepartmentFromTable(assetSelected)"> 
                                    <option *ngFor="let department of departmentList" [value]="department.id" >{{department.departmentName}}</option> 
                                </select> 
                            </td>     
                            <td style="width:150px">
                                <select name="department" [(ngModel)]="assetSelected.departmentId" class="form-control" (change)="onSelectDepartmentFromTable(assetSelected)"> 
                                    <option *ngFor="let department of departmentList" [value]="department.id" >{{department.departmentName}}</option> 
                                </select> 
                            </td>        
                            <!-- <td style="width:200px"><input type="number" class="input-number form-control" [(ngModel)]= "assetSelected.numberOfDayUsedAsset" (change)="renderAmortizationValueOfAssetFromTable(assetSelected)" min="1" required/></td> -->
                            <!-- <td style="width:200px">{{ assetSelected.amortizationValue}}</td>  -->
                            <td style="width:120px">{{ assetSelected.amortizationValue}}</td>
                            <td style="width:120px">{{ assetSelected.amortizationValue}}</td>
                            
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn bg-danger" (click)="close()">{{"Hủy" |
            localize}}</button> 
        <button type="submit" class="btn btn-primary" buttonBusy="saving" busyText="l('SavingWithThreeDot')" [disabled]="!increaseAssetForm.form.valid" (click)="save()"><i class="fa fa-save" style="margin-right: 5px"></i>
            <span>{{"Lưu" | localize}}</span></button>
    </div>
</div>
<app-edit-increase-asset-modal #editIncreaseAssetModal ></app-edit-increase-asset-modal>


