<!-- <div bsModal #createOrEditModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" busyIf="loading">
            
        </div>
    </div>
</div> -->
<div class="increase-asset-component" busyIf="loading">
    <!-- <div class="modal-header">
        <h4 class="modal-title">
            <span *ngIf="increaseAsset?.id">{{"Sửa chứng từ" | localize}}</span>
            <span *ngIf="!increaseAsset?.id">{{"Tạo mới chứng từ" | localize}}</span>
        </h4>
        <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
    <div class="header-title-container main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0 !important">
        <h4 class="header-title">
            <span class="title-page parent-title" (click)="close()">Chứng từ ghi tăng</span>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="title-page title-child" *ngIf="increaseAsset?.id">{{"Sửa chứng từ" | localize}}</span>
            <span class="title-page title-child" *ngIf="!increaseAsset?.id">{{"Tạo mới chứng từ" | localize}}</span>
        </h4>
        <!-- <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="increase-asset-container row">
        <div class="increase-asset-content pd-0 col-6">
            <form #increaseAssetForm="ngForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">     
                <div class="title-page text-title">Thông tin chứng từ ghi tăng</div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="AssetCode">{{"Mã chứng từ" | localize}} *</label>
                        <input id="AssetCode" #assetCode="ngModel" type="text" name="AssetCode" class="form-control" [(ngModel)]="increaseAsset.increaseAssetCode" required maxlength="256" (change)="setIncreaseAssetCode()"/>
                        <div style="display: grid;">
                            <span *ngIf="!increaseAsset?.increaseAssetCode" class="error-message">Trường này không được để trống</span>
                            <span class="error-message" *ngIf="increaseAsset.increaseAssetCode">{{increaseAssetCodeMessage}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AssetName">{{"Ngày chứng từ" | localize}} </label>
                        <input id="AssetName" #assetName="ngModel" type="date" name="AssetName" class="form-control" [(ngModel)]="increaseAsset.creationTime" required maxlength="256" />
                        <span *ngIf="!increaseAsset?.creationTime" class="error-message">Trường này không được để trống</span>
                    </div>
                    <div class="form-group">
                        <label for="IncreaseAssetDate">{{"Ngày ghi tăng" | localize}} </label>
                        <input id="IncreaseAssetDate" #increaseAssetDate="ngModel" type="date" name="IncreaseAssetDate" class="form-control" [(ngModel)]="increaseAsset.increaseAssetDate"/>
                        <span *ngIf="!increaseAsset?.increaseAssetDate" class="error-message">Trường này không được để trống</span>
                    </div>
                    <div class="form-group">
                        <label for="increaseNote">{{"Nội dung" | localize}} </label>
                        <textarea id="increaseAssetNote" #increaseAssetNote="ngModel" rows="4" cols="50" name="IncreaseAssetNote" class="form-control" [(ngModel)]="increaseAsset.note">
                        </textarea>
                    </div>
                </div>                
            </form>
        </div>
        <div class="choose-asset pd-0 col-6">
            <div class="title-page text-title">Chọn tài sản</div>
            <div class="choose-asset-container">
                <div class="form-group row">
                    <div class="col-6 pd-0">
                        <label for="AssetCode">{{"Mã tài sản" | localize}} *</label>
                        <input id="AssetCode" #assetCode="ngModel" type="text" name="AssetCode" class="form-control" [(ngModel)]="asset.assetCode" required maxlength="256" />
                        <div style="display: grid;">
                            <span class="text-note">Nhập mã tài sản để tìm kiếm thông tin tài sản</span>
                            <span class="error-message" *ngIf="asset.assetCode">{{assetMessage}}</span>
                        </div>
                        
                    </div>
                    <div class="col-3" >
                        <button class="btn btn-search-asset" (click)="searchAsset()">Kiểm tra</button>
                    </div>
                </div>
                <div class="form-group">
                    <label for="AssetTypeName">{{"Loại tài sản" | localize}} </label>
                    <input id="AssetTypeName" #assetTypeName="ngModel" type="text" name="AssetTypeName" class="form-control" [(ngModel)]="asset.assetTypeName" disabled maxlength="256" />   
                </div>
                <div class="form-group">
                    <label for="AssetName">{{"Tên tài sản" | localize}} </label>
                    <input id="AssetName" #assetName="ngModel" type="text" name="AssetName" class="form-control" [(ngModel)]="asset.assetName" disabled maxlength="256" />   
                </div>
                <div class="form-group">
                    <label for="OrginalPrice">{{"Nguyên giá" | localize}}( đồng)</label>
                    <input id="OrginalPrice" #orginalPrice="ngModel" type="number" name="OrginalPrice" class="form-control" [(ngModel)]="asset.orginalPrice" disabled/>
        
                </div>
                <div class="form-group">
                    <label for="department">{{"Bộ phận sử dụng" | localize}} *</label>
                    <p-dropdown id="department" #department="ngModel" name="department" [options]="departmentList"
                    [(ngModel)]="selectedDepartment" placeholder="{{ l('Chọn bộ phận sử dụng') }}" optionLabel="departmentName"
                    styleClass="form-control brandSelection-dropdown" (onChange)="onSelectDepartmet()" required>
                    </p-dropdown>
                    <span *ngIf="!selectedDepartment" class="error-message">Trường này không được để trống</span>
                </div>
                <div class="form-group">
                    <label for="NumberOfDayUsedAsset">{{"Thời gian sử dụng" | localize}}(năm) *</label>
                    <input id="NumberOfDayUsedAsset" #numberOfDayUsedAsset="ngModel" type="number" name="NumberOfDayUsedAsset" class="form-control" [(ngModel)]="asset.numberOfDayUsedAsset" (change)="renderAmortizationValue()" min="1" required/>
                    <span class="text-note">Nhập thời gian sử dụng của tài sản để tính giá trị khấu hao của tài sản</span>
                </div>
                <div class="form-group">
                    <label for="AmortizationValue">{{"Giá trị khấu hao" | localize}} (đồng)</label>
                    <input id="AmortizationValue" #amortizationValue="ngModel" type="number" name="AmortizationValue" class="form-control" [(ngModel)]="asset.amortizationValue" disabled/>
                    
                </div>
                <div>
                    <button class="btn btn-increase-asset" (click)="clickIncreaseAsset()" [disabled]="!asset.assetCode || !asset.numberOfDayUsedAsset || assetMessage != ''">Ghi tăng</button>
                </div>
            </div>
        </div>
    </div>
    <div class="increase-asset-table">
        <div class="title-page text-title">Các tài sản đã chọn để ghi tăng</div>
        <button class="btn btn-increase-asset ml-1" (click)="onDeleteAssetListFromTable()">Xóa tài sản</button>
        <div class="card-header">
            <div class="row">
                <div class="col-md-6">&emsp;</div>
                <div class="col-md-6">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button
                                    type="button"
                                    class="btn bg-blue"
                                   
                            >
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input
                                type="text"
                                class="form-control"
                                name="keyword"
                                [placeholder]="'SearchWithThreeDot' | localize"
                                [(ngModel)]="keyword"
                              
                        />
                        <div class="input-group-append">
                            <button
                                    type="button"
                                    class="btn btn-default"
                                    (click)="advancedFiltersVisible = !advancedFiltersVisible"
                            >
                                <i
                                        class="fas"
                                        [class.fa-angle-up]="advancedFiltersVisible"
                                        [class.fa-angle-down]="!advancedFiltersVisible"
                                ></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="advancedFiltersVisible" class="card mb-0 mt-1">
                <div class="card-body">
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row mb-0">
                                    <label class="col-md-3 col-form-label">
                                        {{ "IsActive" | localize }}
                                    </label>
                                    <div class="col-md-9 pt-2">
                                        <div class="custom-control custom-radio d-inline">
                                            <input
                                                    type="radio"
                                                    class="custom-control-input"
                                                    id="isActiveAll"
                                                    name="isActive"
                                                    [(ngModel)]="isActive"
                                                    [value]="undefined"
                                                    checked
                                            />
                                            <label class="custom-control-label" for="isActiveAll">
                                                {{ "All" | localize }}
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline mx-3">
                                            <input
                                                    type="radio"
                                                    class="custom-control-input"
                                                    id="isActiveActive"
                                                    name="isActive"
                                                    [(ngModel)]="isActive"
                                                    [value]="true"
                                            />
                                            <label
                                                    class="custom-control-label"
                                                    for="isActiveActive"
                                            >
                                                {{ "Yes" | localize }}
                                            </label>
                                        </div>
                                        <div class="custom-control custom-radio d-inline">
                                            <input
                                                    type="radio"
                                                    class="custom-control-input"
                                                    id="isActivePassive"
                                                    name="isActive"
                                                    [(ngModel)]="isActive"
                                                    [value]="false"
                                            />
                                            <label
                                                    class="custom-control-label"
                                                    for="isActivePassive"
                                            >
                                                {{ "No" | localize }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button
                            type="button"
                            class="btn bg-blue"
                            
                    >
                        {{ "Search" | localize }}
                    </button>
                    <button
                            type="button"
                            class="btn btn-default float-right"
                            (click)="clearFilters()"
                    >
                        {{ "Clear" | localize }}
                    </button>
                </div>
            </div>
        </div>
        <div class="content-component">
            <p-table [scrollable]="true" scrollHeight="600px" scrollWidth="1100px" [value]="addAssetToIncreaseList" [resizableColumns]="true" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:50px" class="pl-1">
                            <input type="checkbox" name="selectedAllAsset" [(ngModel)]="isSelectedAllAsset" (click)="onSelectedAllAsset($event)"/>
                        </th>
                        <th pResizableColumn pSortableColumn="assetCode" style="width:120px">
                            Mã tài sản
                            <p-sortIcon field="assetCode"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="assetTypeName" style="width:120px">
                            Loại tài sản
                            <p-sortIcon field="assetTypeName"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="assetName" style="width:120px">
                            Tên tài sản
                            <p-sortIcon field="assetName"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="orginalPrice" style="width:120px">
                            Nguyên Giá 
                            <p-sortIcon field="orginalPrice"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="departmentName" style="width:150px">
                            Bộ phận sử dụng
                            <p-sortIcon field="departmentName"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="numberOfDayUsedAsset" style="width:150px">
                            Thời gian sử dụng
                            <p-sortIcon field="numberOfDayUsedAsset"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="amortizationValue" style="width:200px">
                            Giá trị tính khấu hao
                            <p-sortIcon field="amortizationValue"></p-sortIcon>
                        </th>
                        <th style="width:100px">
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-assetSelected>
                    <tr>
                        <td style="width:50px" class="pl-1"><input type="checkbox" name="selectedAsset" (change)="onSelectedAsset(assetSelected, $event)"></td>
                        <td style="width:120px">{{ assetSelected.assetCode}}</td>
                        <td style="width:120px">{{ assetSelected.assetTypeName}}</td>
                        <td style="width:120px">{{ assetSelected.assetName}}</td>
                        <td style="width:120px">{{ assetSelected.orginalPrice }}</td>   
                        <td style="width:150px">
                            <select name="department" [(ngModel)]="assetSelected.departmentId" class="form-control" (change)="onSelectDepartmentFromTable(assetSelected)"> 
                                <option *ngFor="let department of departmentList" [value]="department.id" >{{department.departmentName}}</option> 
                            </select> 
                        </td>        
                        <td style="width:150px"><input type="number" class="input-number form-control" [(ngModel)]= "assetSelected.numberOfDayUsedAsset" (change)="renderAmortizationValueOfAssetFromTable(assetSelected)" min="1" required/></td>
                        <td style="width:200px">{{ assetSelected.amortizationValue}}</td>
                        <td style="width:100px"><button type="button" class="btn btn-sm bg-danger ng-tns-c137-2" (click) = "deleteAssetItemFromTable(assetSelected)"><i class="fas fa-trash ng-tns-c137-2"></i> Xóa </button></td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn bg-danger" (click)="close()">{{"Hủy" |
            localize}}</button> 
        <button type="submit" class="btn btn-primary" buttonBusy="saving" busyText="l('SavingWithThreeDot')" [disabled]="!increaseAssetForm.form.valid" (click)="save()"><i class="fa fa-save" style="margin-right: 5px"></i>
            <span>{{"Lưu" | localize}}</span></button>
    </div>
</div>
<!-- <app-edit-increase-asset-modal #editIncreaseAssetModal (modalSave)="editIncreaseAsset($event)"></app-edit-increase-asset-modal> -->


