<div class="header-title">
    <div class="title-page">Chứng từ ghi tăng</div>
    <div class="btn-add-container">
        <button class="btn btn-add" (click)="createOrEditIncreaseAsset()">Thêm chứng từ</button>
    </div>
</div>
<div class="content-component">
    <p-table [scrollable]="true" scrollHeight="600px" scrollWidth="1100px" [value]="assetList" [resizableColumns]="true" [autoLayout]="true">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn pSortableColumn="assetCode" style="width:150px">
                Chức năng
            </th>
            <th pResizableColumn pSortableColumn="increaseAssetCode" style="width:120px">
                Mã chứng từ
                <p-sortIcon field="increaseAssetCode"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="increaseAssetDate" style="width:120px">
                Ngày chứng từ 
                <p-sortIcon field="increaseAssetDate"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="creationTime" style="width:150px">
                Ngày ghi tăng
                <p-sortIcon field="creationTime"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="note" style="width:120px">
                Nội dung 
                <p-sortIcon field="note"></p-sortIcon>
            </th>
            <th pResizableColumn pSortableColumn="totalAssetValue" style="width:150px">
                Tổng nguyên giá 
                <p-sortIcon field="totalAssetValue"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-asset>
        <tr>
            <td style="width:150px">
                <div class="btn-group dropdown" dropdown container="body">
                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Hành động
                    </button>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li>
                            <a href="javascript:;"
                                (click)="createOrEditIncreaseAsset(asset)">Sửa</a>
                        </li>
                        <li>
                            <a href="javascript:;"
                                (click)="deleteIncreaseAsset(asset)">Xóa</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td style="width:120px">{{ asset.increaseAssetCode }}</td>
            <td style="width:120px">{{ asset.increaseAssetDate }}</td>
            <td style="width:150px">{{ asset.creationTime}}</td>
            <td style="width:120px">{{ asset.note }}</td>
            <td style="width:150px">{{ asset.totalAssetValue}}</td>
        </tr>
    </ng-template>
</p-table>
</div>
<!-- <app-create-or-edit-increase-asset #createOrEditIncreaseAssetModal (modalSave)="getAll()"></app-create-or-edit-increase-asset> -->
