<!-- <div bsModal #createOrEditModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg"> -->
        <div busyIf="loading">
            <form #assetForm="ngForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
                <div class="header-title-container main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0 !important">
                    <h4 class="header-title">
                        <span class="title-page parent-title" (click)="close()">Sổ tài sản</span>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="title-page title-child" *ngIf="assetId">{{"Sửa tài sản" | localize}}: {{asset.assetName}}</span>
                        <span class="title-page title-child" *ngIf="!assetId">{{"Tạo mới tài sản" | localize}}</span>
                    </h4>
                    <!-- <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body bg-white row">
                    <!-- <div class="form-group" *ngIf="assetId">
                        <label for="AssetID">{{"Id" | localize}}</label>
                        <input id="AssetID" #assetID="ngModel" type="text" name="AssetID" class="form-control" [(ngModel)]="asset" disabled/>
                 
                    </div> -->
                    <div class="title-page text-title col-12">Thông tin tài sản</div>
                    <div class="form-group col-12">
                        <input  type="checkbox" maxlength="256" style="margin:10px  10px 0 5px"/>Tự động ghi tăng
                        <!-- <span *ngIf="!asset?.assetCode" style="color:red; font-size: 12px;">Trường này không được để trống</span>
                        <span style="color:red; font-size: 12px;">{{assetCodeMessage}}</span> -->
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="AssetCode">{{"Mã tài sản" | localize}} *</label>
                        <input id="AssetCode" #assetCode="ngModel" type="text" name="AssetCode" class="form-control" [(ngModel)]="asset.assetCode" required maxlength="256" (change)="setAssetCode()"/>
                        <!-- <span *ngIf="!asset?.assetCode" style="color:red; font-size: 12px;">Trường này không được để trống</span> -->
                        <span class="error-message">{{assetCodeMessage}}</span>
                        <!-- <validation-messages [formCtrl]="assetCode"></validation-messages> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="AssetName">{{"Tên tài sản" | localize}} *</label>
                        <input id="AssetName" #assetName="ngModel" type="text" name="AssetName" class="form-control" [(ngModel)]="asset.assetName" required maxlength="256" />
                        <!-- <span *ngIf="!asset?.assetName" style="color:red; font-size: 12px;">Trường này không được để trống</span> -->
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="AssetType">{{"Loại tài sản" | localize}} *</label>
                        <p-dropdown id="assetType" #assetType="ngModel" name="assetTypeSelection" [options]="assetTypeList"
                        [(ngModel)]="selectedAssetType" placeholder="{{ l('Chọn loại tài sản') }}" optionLabel="assetTypeName"
                        styleClass="form-control brandSelection-dropdown" (onChange)="onSelectAssetType()" required>
                        </p-dropdown>
                        <!-- <span *ngIf="!selectedAssetType" class="error-message">Trường này không được để trống</span> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="increaseAssetDate">{{"Ngày ghi tăng" | localize}} *</label>
                        <input id="increaseAssetDate" #increaseAssetDate="ngModel" type="date" name="increaseAssetDate" class="form-control" [(ngModel)]="increaseAssetDateInput" required  />
                        <!-- <span *ngIf="!asset?.startDate" class="error-message">Trường này không được để trống</span> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="startDate">{{"Ngày bắt đầu sử dụng" | localize}} *</label>
                        <input id="startDate" type="date" #startDate="ngModel" name="startDate" class="form-control" [(ngModel)]="startDateInput" required  />
                        <!-- <span *ngIf="!asset?.startDate" class="error-message">Trường này không được để trống</span> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="department">{{"Bộ phận sử dụng" | localize}} *</label>
                        <p-dropdown id="department" #department="ngModel" name="department" [options]="departmentList"
                        [(ngModel)]="selectedDepartment"  optionLabel="departmentName" placeholder="{{ l('Chọn bộ phận sử dụng') }}"
                        styleClass="form-control brandSelection-dropdown" (onChange)="onSelectDepartment()" required>
                        </p-dropdown>
                        <!-- <span *ngIf="!selectedAssetType" class="error-message">Trường này không được để trống</span> -->
                    </div>
                    <div class="form-group col-4">
                        <label for="employee">{{"Người sử dụng" | localize}} *</label>
                        <p-dropdown id="employee" #employee="ngModel" name="employee" [options]="employeeList"
                        [(ngModel)]="selectedEmployee" optionLabel="employeeName" placeholder="{{ l('Chọn nhân viên sử dụng') }}"
                        styleClass="form-control brandSelection-dropdown" (onChange)="onSelectEmployee()" (click)="checkSeletectedDepartment()" required>
                        </p-dropdown>
                    </div>
                </div>     
                <div class="bg-white depreciation-asset row" style="margin-top: 20px ">
                    <div class="title-page text-title col-12" style="padding: 20px 10px">Thông tin tính khấu hao</div>
                    <div class="form-group col-3">
                        <label for="amortizationDate
                        ">{{"Ngày bắt đầu tính khấu hao" | localize}} *</label>
                        <input id="amortizationDate" #amortizationDate="ngModel" type="date" name="amortizationDate" class="form-control" [(ngModel)]="amortizationDateInput" required />
                        <!-- <span *ngIf="!asset?.startDate" class="error-message">Trường này không được để trống</span> -->
                    </div>
                    <div class="form-group col-3">
                        <label for="numberOfDayUsedAsset">{{"Thời gian sử dụng" | localize}} (năm) *</label>
                        <input id="numberOfDayUsedAsset" #numberOfDayUsedAsset="ngModel" type="number" name="numberOfDayUsedAsset" class="form-control" [(ngModel)]="asset.numberOfDayUsedAsset" required maxlength="256" min="0" (change)="setNumberOfDayUsedAsset()"/>
                        <div style="display: grid;">
                            <span  class="text-note" *ngIf="asset.assetTypeId">Giá trị hợp lệ trong khoảng từ {{minUsedAsset}} đến {{maxUsedAsset}}</span>
                            <span  class="error-message" *ngIf="asset.numberOfDayUsedAsset">{{numberUsedAssetMessage}}</span>
                        </div>
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group col-3">
                        <label for="orginalPrice">{{"Nguyên giá" | localize}} *</label>
                        <input id="orginalPrice" #orginalPrice="ngModel" type="number" name="orginalPrice" class="form-control" [(ngModel)]="asset.orginalPrice" required maxlength="256" min="0" (change)="getAmortizationValue()"/>
                        <!-- <span *ngIf="!asset?.assetName" style="color:red; font-size: 12px;">Trường này không được để trống</span> -->
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group col-3">
                        <label for="depreciationOfAsset">{{"Khấu hao lũy kế" | localize}} </label>
                        <input id="depreciationOfAsset" #depreciationOfAsset="ngModel" type="number" name="depreciationOfAsset" class="form-control" [(ngModel)]="asset.depreciationOfAsset" maxlength="256" min="0" (change)="checkDepreciationOfAsset()"/>
                        <div style="display: grid;">
                            <span  class="text-note" *ngIf="asset.depreciationOfAsset">Giá trị phải nhỏ hơn nguyên giá</span>
                            <span  class="error-message" *ngIf="asset.orginalPrice">{{depreciationOfAssetMessage}}</span>
                        </div>
                    </div>
                    <!-- <div class="form-group col-3">
                        <label for="value1">{{"Tỉ lệ tính khấu hao tháng(%)" | localize}} </label>
                        <input id="value1" #value1="ngModel" type="text" name="value1" class="form-control" [(ngModel)]="asset.id" required maxlength="256" disabled/>

                    </div>
                    <div class="form-group col-3">
                        <label for="value1">{{"Tỉ lệ tính khấu hao năm(%)" | localize}}(năm) </label>
                        <input id="value1" #value1="ngModel" type="text" name="value1" class="form-control" [(ngModel)]="asset.id" required maxlength="256" disabled/>
                    
                    </div> -->
                    <div class="form-group col-3">
                        <label for="annualAmortizationValue">{{"HM/KH năm" | localize}} </label>
                        <input id="annualAmortizationValue" #annualAmortizationValue="ngModel" type="number" name="annualAmortizationValue" class="form-control" [(ngModel)]="asset.annualAmortizationValue"  maxlength="256" min="0" disabled/>
                        <!-- <span *ngIf="!asset?.assetName" style="color:red; font-size: 12px;">Trường này không được để trống</span> -->
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <!-- <div class="form-group col-3">
                        <label for="value1">{{"Giá trị khấu hao năm" | localize}} </label>
                        <input id="value1" #value1="ngModel" type="text" name="value1" class="form-control" [(ngModel)]="asset.id" required maxlength="256" disabled/>

                    </div> -->
                
                    <div class="form-group col-4">
                        <label for="residualValue">{{"Giá trị còn lại "| localize}} </label>
                        <input  class="form-control" #residualValue="ngModel" type="number" name="residualValue" [(ngModel)]="asset.residualValue" maxlength="256" min="0" disabled/>
                        <!-- <span *ngIf="!asset?.assetName" style="color:red; font-size: 12px;">Trường này không được để trống</span> -->
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn bg-danger" (click)="close()">{{"Hủy" |
                        localize}}</button>
                    <button type="submit" class="btn btn-primary" buttonBusy="saving" busyText="l('SavingWithThreeDot')" [disabled]="!assetForm.form.valid || assetCodeMessage != '' || numberUsedAssetMessage != '' || depreciationOfAssetMessage != ''"><i class="fa fa-save" style="margin-right: 5px"></i>
                        <span>{{"Lưu" | localize}}</span></button>
                </div>
            </form>
        </div>
    <!-- </div>
</div> -->