<!-- <div bsModal #createOrEditModal="bs-modal"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static', keyboard: !saving}">
    <div class="modal-dialog modal-lg"> -->
        <div busyIf="loading">
            <form #assetForm="ngForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">
                <div class="header-title-container main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0 !important">
                    <h4 class="header-title">
                        <span class="title-page parent-title" (click)="close()">Sổ tài sản</span>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="title-page title-child" *ngIf="assetId">{{"Sửa tài sản" | localize}}: {{asset.assetName}}</span>
                        <span class="title-page title-child" *ngIf="!assetId">{{"Tạo mới tài sản" | localize}}</span>
                    </h4>
                    <!-- <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group" *ngIf="assetId">
                        <label for="AssetID">{{"Id" | localize}}</label>
                        <input id="AssetID" #assetID="ngModel" type="text" name="AssetID" class="form-control" [(ngModel)]="asset" disabled/>
                 
                    </div> -->
                    <div class="form-group">
                        <label for="AssetCode">{{"Mã tài sản" | localize}} *</label>
                        <input id="AssetCode" #assetCode="ngModel" type="text" name="AssetCode" class="form-control" [(ngModel)]="asset.assetCode" required maxlength="256" (change)="setAssetCode()"/>
                        <span *ngIf="!asset?.assetCode" style="color:red; font-size: 12px;">Trường này không được để trống</span>
                        <span style="color:red; font-size: 12px;">{{assetCodeMessage}}</span>
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group">
                        <label for="AssetName">{{"Tên tài sản" | localize}} *</label>
                        <input id="AssetName" #assetName="ngModel" type="text" name="AssetName" class="form-control" [(ngModel)]="asset.assetName" required maxlength="256" />
                        <span *ngIf="!asset?.assetName" style="color:red; font-size: 12px;">Trường này không được để trống</span>
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group">
                        <label for="OrginalPrice">{{"Nguyên giá" | localize}} *</label>
                        <input id="OrginalPrice" #orginalPrice="ngModel" type="number" name="OrginalPrice" class="form-control" [(ngModel)]="asset.orginalPrice" required/>
                        <span *ngIf="!asset?.orginalPrice" style="color:red; font-size: 12px;">Trường này không được để trống</span>
                        <!-- <validation-messages [formCtrl]="assetCodeInput"></validation-messages> -->
                    </div>
                    <div class="form-group">
                        <label for="AssetType">{{"Loại tài sản" | localize}} *</label>
                        <p-dropdown id="assetType" #assetType="ngModel" name="assetTypeSelection" [options]="assetTypeList"
                        [(ngModel)]="selectedAssetType" placeholder="{{ l('Chọn loại tài sản') }}" optionLabel="assetTypeName"
                        styleClass="form-control brandSelection-dropdown" (onChange)="onSelectAssetType()" required>
                        </p-dropdown>
                        <span *ngIf="!selectedAssetType" class="error-message">Trường này không được để trống</span>
                    </div>
                </div>       
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn bg-danger" (click)="close()">{{"Hủy" |
                        localize}}</button>
                    <button type="submit" class="btn btn-primary" buttonBusy="saving" busyText="l('SavingWithThreeDot')" [disabled]="!assetForm.form.valid || ( assetCodeMessage != '') "><i class="fa fa-save" style="margin-right: 5px"></i>
                        <span>{{"Lưu" | localize}}</span></button>
                </div>
            </form>
        </div>
    <!-- </div>
</div> -->