<div class="header-title">
    <div class="title-page">Bảo dưỡng tài sản</div>
    <div class="btn-add-container">
        <button class="btn btn-add" (click)="createOrEditPlaneMaintain()">Thêm</button>
    </div>
</div>
<form class="kt-form" autocomplete="off">
    <div class="row align-items-center">
        <div class="col-xl-12">
            <div class="form-group m-form__group align-items-center">
                <div class="input-group">
                    <input [(ngModel)]="filterText" name="filterText" autoFocus
                        class="form-control m-input"
                        placeholder="Tìm kiếm theo mã tài sản, tên tài sản" type="text" />
                    <span class="input-group-btn">
                        <button (click)="getPlaneMaintains()" class="btn btn-search" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="content-component">
    <p-table (onLazyLoad)="getPlaneMaintains($event)" [paginator]="false" [lazy]="true" [rows]="3" [totalRecords]="totalRecords"  [scrollable]="true" scrollHeight="320px" scrollWidth="1100px" [value]="planeMaintainList" [resizableColumns]="true" [autoLayout]="true" [responsive]="primengTableHelper.isResponsive">
    <ng-template pTemplate="header">
        <tr>
            <th pResizableColumn pSortableColumn="assetCode" style="width:150px">
                Chức năng
            </th>
            <th pResizableColumn pSortableColumn="assetCode" style="width:100px">
                Mã tài sản
            </th>
            <th pResizableColumn pSortableColumn="assetName" style="width:100px">
                Tên tài sản
            </th>
            <th pResizableColumn pSortableColumn="assetTypeName" style="width:120px">
                Loại tài sản
            </th>
            <th pResizableColumn pSortableColumn="departmentName" style="width:140px">
                Bộ phận sử dụng
            </th>
            <th pResizableColumn pSortableColumn="expectedDate" style="width:150px">
                Ngày dự kiến
            </th>
            <th pResizableColumn pSortableColumn="estimates" style="width:100px">
                Dự toán
            </th>
            <th pResizableColumn pSortableColumn="maintenanceType" style="width:140px">
                Loại bảo dưỡng
            </th>
            <th pResizableColumn pSortableColumn="describe" style="width:130px">
                Mô tả
            </th>    
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-planeMaintain>
        <tr>
            <td style="width:150px">
                <div class="btn-group dropdown" dropdown container="body">
                    <button dropdownToggle class="dropdown-toggle btn btn-sm btn-primary">
                        <i class="fa fa-cog"></i><span class="caret"></span>
                        Hành động
                    </button>
                    <ul class="dropdown-menu" *dropdownMenu>
                        <li (click)="createOrEditPlaneMaintain(planeMaintain)">
                            <a href="javascript:;"
                                >Sửa</a>
                        </li>
                        <li (click)="deletePlaneMaintain(planeMaintain)">
                            <a href="javascript:;"
                                >Xóa</a>
                        </li>
                    </ul>
                </div>
            </td>
            <td style="width:100px">{{ planeMaintain.assetCode }}</td>
            <td style="width:100px">{{ planeMaintain.assetName}}</td>
            <td style="width:120px">{{ planeMaintain.assetTypeName }}</td>
            <td style="width:140px">{{ planeMaintain.departmentName}}</td>
            <td style="width:150px">{{ planeMaintain.expectedDate }}</td>
            <td style="width:100px">{{ planeMaintain.estimates}}</td>
            <td style="width:130px">{{ planeMaintain.maintenanceType }}</td>
            <td style="width:200px">{{ planeMaintain.describe}}</td>
        </tr>
    </ng-template>
    <div class="" *ngIf="totalRecords == 0">
        {{ l("NoData") }}
    </div>
    <div class="order-history__paginator" id="my-order-paging">
    </div>
</p-table>
</div>