
<div class="increase-asset-component" busyIf="loading">
    <div class="header-title-container main-header navbar navbar-expand navbar-white navbar-light" style="margin-left: 0 !important">
        <h4 class="header-title">
            <span class="title-page parent-title" (click)="close()">Phiếu đề nghị xử lý</span>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="title-page title-child" *ngIf="suggestionHandling?.id">{{"Sửa phiếu đề nghị xử lí" | localize}}</span>
            <span class="title-page title-child" *ngIf="!suggestionHandling?.id">{{"Tạo mới phiếu đề nghị xử lí" | localize}}</span>
        </h4>
    </div>
    <div class="increase-asset-container">
        <div class="increase-asset-content">
            <form #suggestionHandlingForm="ngForm" novalidate (ngSubmit)="save()" (keydown.enter)="$event.preventDefault()">     
                <div class="title-page text-title" style="padding-left: 10px">Thông tin chứng từ ghi tăng</div>
                <div class="modal-body bg-white">
                    <div class="row">
                        <div class="form-group col-2">
                            <label for="suggestionHandlingCode">{{"Số phiếu" | localize}} *</label>
                            <input id="suggestionHandlingCode" #suggestionHandlingCode="ngModel" type="text" name="suggestionHandlingCode" class="form-control" [(ngModel)]="suggestionHandling.suggestionHandlingCode" required maxlength="256" (change)="setSuggestionHandlingCode()"/>
                            <div style="display: grid;">
                                <span *ngIf="!suggestionHandling?.suggestionHandlingCode" class="error-message">Trường này không được để trống</span> 
                                <span class="error-message" *ngIf="suggestionHandling.suggestionHandlingCode">{{suggestionHandlingCodeMessage}}</span>
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label for="creationTime">{{"Ngày lập" | localize}} *</label>
                            <input id="creationTime" #creationTime="ngModel" type="date" name="creationTime" class="form-control" [(ngModel)]="suggestionHandling.creationTime" required />
                            <!-- <span *ngIf="!suggestionHandling?.creationTime" class="error-message">Trường này không được để trống</span> -->
                        </div>
                        <div class="form-group col-2">
                            <label for="suggestionHandlingDate">{{"Ngày chứng từ" | localize}} *</label>
                            <input id="suggestionHandlingDate" #suggestionHandlingDate="ngModel" type="date" name="suggestionHandlingDate" class="form-control" [(ngModel)]="suggestionHandling.suggestionHandlingDate" required  />
                            <!-- <span *ngIf="!suggestionHandling?.suggestionHandlingDate" class="error-message">Trường này không được để trống</span> -->
                        </div>
                        <div class="form-group col-3">
                            <label for="departmentName">{{"Bộ phận đề nghị" | localize}} *</label>
                            <p-dropdown id="departmentName" #department="ngModel" name="departmentName" [options]="departmentList"
                            [(ngModel)]="selectedDepartment" placeholder="{{ l('Chọn bộ phận') }}" optionLabel="departmentName"
                            styleClass="form-control brandSelection-dropdown" (onChange)="onChangeDepartment()" required>
                            </p-dropdown>
                            <span *ngIf="!selectedDepartment" class="error-message">Trường này không được để trống</span>
                        </div>
                        <div class="form-group col-3">
                            <label for="petitionerName">{{"Người đề nghị" | localize}} *</label>
                            <p-dropdown id="petitionerName" #petitioner="ngModel" name="petitionerName" [options]="employeeList"
                            [(ngModel)]="selectedPetitioner" placeholder="{{ l('Chọn người đề nghị') }}" optionLabel="employeeName"
                            styleClass="form-control brandSelection-dropdown" (onChange)="onChangePetitioner()" required>
                            </p-dropdown>
                            <span *ngIf="!selectedPetitioner" class="error-message">Trường này không được để trống</span>
                        </div>
                        <div class="form-group col-2">
                            <label for="suggestionHandlingStatus">{{"Trạng thái" | localize}} *</label>
                            <p-dropdown id="suggestionHandlingStatus" #suggestionHandlingStatus="ngModel" name="suggestionHandlingStatus" [options]="suggestionHandlingStatusList"
                            [(ngModel)]="selectedHandlingStatus" placeholder="{{ l('Chọn trạng thái') }}" optionLabel="name"
                            styleClass="form-control brandSelection-dropdown" (onChange)="onChangeStatus()" required>
                            </p-dropdown>
                            <span *ngIf="!selectedHandlingStatus" class="error-message">Trường này không được để trống</span>
                        </div>
                        <div class="form-group col-10">
                            <label for="description">{{"Nội dung" | localize}} </label>
                            <input id="description" #description="ngModel" rows="4" cols="50" name="description" class="form-control" [(ngModel)]="suggestionHandling.description"/>
                        </div>
                    </div>
                    
                </div>                
            </form>
        </div>
    </div> 
    <div class="increase-asset-table bg-white" style="margin-top: 20px">
        <div class="title-page text-title" style="padding-left: 10px">Thông tin tài sản</div>
        <div class="bg-white pd-16">
            <div _ngcontent-olq-c180="" class="row align-items-center">
                <div _ngcontent-olq-c180="" class="col-6"><div _ngcontent-olq-c180="" class="form-group m-form__group align-items-center"><div _ngcontent-olq-c180="" class="input-group"><input _ngcontent-olq-c180="" name="filterText" autofocus="" placeholder="Tìm kiếm theo mã tài sản, tên tài sản, tên loại tài sản người tạo" type="text" class="form-control m-input ng-untouched ng-pristine ng-valid" ng-reflect-name="filterText" ng-reflect-model=""><span _ngcontent-olq-c180="" class="input-group-btn"><button _ngcontent-olq-c180="" type="submit" class="btn btn-search"><i _ngcontent-olq-c180="" class="fa fa-search"></i></button></span></div>
                </div>
            </div>
            <div class="col-6">
                <div _ngcontent-olq-c180="" class="form-group m-form__group align-items-center"><div _ngcontent-olq-c180="" class="input-group" style="justify-content: stretch">
                    <button class="btn btn-increase-asset ml-1" >Xóa tài sản</button>
                    <button style="position: absolute; right: 0px" class="btn btn-increase-asset ml-1" (click)="show()">Chọn tài sản</button>
                </div>
                </div>
            <div>
             </div>
            
                
            </div>
        <div class="content-component">
            <p-table [scrollable]="true" scrollHeight="600px" scrollWidth="1100px" [value]="selectedAssetTable" [resizableColumns]="true" [autoLayout]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:50px" class="pl-1">
                            <input type="checkbox" name="selectedAllAsset" [(ngModel)]="isSelectedAllAsset" (click)="onSelectedAllAsset($event)"/>
                        </th>
                        <th style="width:100px"> Xóa
                        </th>
                        <th pResizableColumn pSortableColumn="assetCode" style="width:120px">
                            Mã tài sản
                            <p-sortIcon field="assetCode"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="assetTypeName" style="width:120px">
                            Loại tài sản
                            <p-sortIcon field="assetTypeName"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="assetName" style="width:120px">
                            Tên tài sản
                            <p-sortIcon field="assetName"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="departmentName" style="width:150px">
                            Bộ phận sử dụng
                            <p-sortIcon field="departmentName"></p-sortIcon>
                        </th>
                        <!-- <th pResizableColumn pSortableColumn="handlingMethod" style="width:150px">
                            Mô tả đặc điểm
                            <p-sortIcon field="handlingMethod"></p-sortIcon>
                        </th> -->
                        <th pResizableColumn pSortableColumn="handlingMethodId" style="width:150px">
                            Hình thức xử lí
                            <p-sortIcon field="handlingMethodId"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="handlingMethod" style="width:150px">
                            Ghi chú
                            <p-sortIcon field="handlingMethod"></p-sortIcon>
                        </th>
                        <!-- <th pResizableColumn pSortableColumn="numberOfDayUsedAsset" style="width:150px">
                            Thời gian sử dụng
                            <p-sortIcon field="numberOfDayUsedAsset"></p-sortIcon>
                        </th>
                        <th pResizableColumn pSortableColumn="amortizationValue" style="width:200px">
                            Giá trị tính khấu hao
                            <p-sortIcon field="amortizationValue"></p-sortIcon>
                        </th> -->

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-assetSelected>
                    <tr>
                        <td style="width:50px" class="pl-1"><input type="checkbox" name="selectedAsset" (change)="onSelectedAsset(assetSelected, $event)"></td>
                        <td style="width:100px"><button type="button" class="btn btn-sm bg-danger ng-tns-c137-2" (click) = "deleteAssetItemFromTable(assetSelected)"><i class="fas fa-trash ng-tns-c137-2"></i> Xóa </button></td>
                        <td style="width:120px">{{ assetSelected.assetCode}}</td>
                        <td style="width:120px">{{ assetSelected.assetTypeName}}</td>
                        <td style="width:120px">{{ assetSelected.assetName}}</td>
                        <!-- <td style="width:120px">{{ assetSelected.orginalPrice }}</td>    -->
                        <td style="width:150px">{{ assetSelected.departmentName}}</td>
                        
                        <!-- <td style="width:120px">{{ assetSelected.handlingMethod}}</td> -->
                       
                        <!-- <td style="width:150px">{{ assetSelected.departmentName}}</td> -->
                         <td style="width:150px">
                            <select name="handlingMethod" [(ngModel)]="assetSelected.handlingMethodId" class="form-control" (change)="onSelectHandlingMethodFromTable(assetSelected)"> 
                                <option *ngFor="let handlingMethod of handlingMethodList" [value]="handlingMethod.id" >{{handlingMethod.handlingMethodName}}</option> 
                            </select> 
                        </td>    
                        <td style="width:150px">{{ assetSelected.handlingMethod}}</td>
                        <!-- <td style="width:120px"></td>   -->
                       <!--  <td style="width:150px"><input type="number" class="input-number form-control" [(ngModel)]= "assetSelected.numberOfDayUsedAsset" (change)="renderAmortizationValueOfAssetFromTable(assetSelected)" min="1" required/></td> -->
                        <!-- <td style="width:200px">{{ assetSelected.amortizationValue}}</td>
                        <td style="width:100px"><button type="button" class="btn btn-sm bg-danger ng-tns-c137-2" (click) = "deleteAssetItemFromTable(assetSelected)"><i class="fas fa-trash ng-tns-c137-2"></i> Xóa </button></td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn bg-danger" (click)="close()">{{"Hủy" |
            localize}}</button> 
        <button type="submit" class="btn btn-primary" buttonBusy="saving" busyText="l('SavingWithThreeDot')" [disabled]="!suggestionHandlingForm.form.valid" (click)="save()"><i class="fa fa-save" style="margin-right: 5px"></i>
            <span>{{"Lưu" | localize}}</span></button>
    </div>
</div>

<app-add-asset-suggestion-handling #addAssetSuggestionHandlingModal (modalSave)="addAssetSuggestionHandlingToTable($event)"></app-add-asset-suggestion-handling>
