<div class="ng-tns-c137-2 ng-trigger ng-trigger-routerTransition" style="padding-top: 0px; opacity: 1;">
    <section class="content-header ng-tns-c137-2">
        <div class="container-fluid ng-tns-c137-2">
            <div class="row ng-tns-c137-2">
                <div class="col-6 ng-tns-c137-2">
                    <h1 class="ng-tns-c137-2">Kế hoạch mua sắm</h1>
                </div>
                <div class="col-6 text-right ng-tns-c137-2">
                    <a href="javascript:;" class="btn bg-blue ng-tns-c137-2"><i class="fa fa-plus-square ng-tns-c137-2"></i> Thêm </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2 ng-tns-c137-2">
        <div class="container-fluid ng-tns-c137-2">
            <div class="card ng-tns-c137-2">
                <div class="card-header ng-tns-c137-2">
                    <div class="row ng-tns-c137-2">
                        <div class="col-md-6 ng-tns-c137-2"></div>
                        <div class="col-md-6 ng-tns-c137-2">
                            <div class="input-group ng-tns-c137-2">
                                <div class="input-group-prepend ng-tns-c137-2">
                                    <button type="button" class="btn bg-blue ng-tns-c137-2"><i class="fas fa-search ng-tns-c137-2"></i></button>
                                </div>
                                <input type="text" name="keyword" class="form-control ng-tns-c137-2 ng-untouched ng-pristine ng-valid" ng-reflect-name="keyword" placeholder="Search..." ng-reflect-model="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body ng-tns-c137-2">
                    <div class="table-responsive ng-tns-c137-2">
                        <table class="table table-striped table-bordered ng-tns-c137-2" ng-reflect-busy="false">
                            <thead class="bg-light ng-tns-c137-2">
                                <tr class="ng-tns-c137-2">
                                    <th class="ng-tns-c137-2">STT</th>
                                    <th class="ng-tns-c137-2">Kỳ lập</th>
                                    <th class="ng-tns-c137-2">Kế hoạch mua sắm</th>
                                    <th style="width:200px;">Nội dung</th>
                                    <th class="ng-tns-c137-2">Trạng thái</th>
                                    <th style="width: 200px;" class="ng-tns-c137-2">Hoạt động</th>
                                </tr>
                            </thead>
                            <tbody class="ng-tns-c137-2">
                                <tr class="ng-tns-c137-2 ng-star-inserted">
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">
                                        <button type="button" class="btn btn-sm bg-secondary ng-tns-c137-2"><i class="fas fa-pencil-alt ng-tns-c137-2"></i> Edit </button>
                                        <button type="button" class="btn btn-sm bg-danger mx-2 ng-tns-c137-2"><i class="fas fa-trash ng-tns-c137-2"></i> Delete </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer table-card-footer bg-light border-top ng-tns-c137-2">
                    <div class="row ng-tns-c137-2">
                        <div class="col-sm-4 col-12 text-sm-left text-center ng-tns-c137-2">
                            <button class="btn btn-secondary ng-tns-c137-2"><i class="fas fa-redo-alt ng-tns-c137-2"></i></button>
                        </div>
                        <div class="col-sm-4 col-12 text-center ng-tns-c137-2">
                            <p class="mb-0 my-2 ng-tns-c137-2"> Total: 1 </p>
                        </div>
                        <div class="col-sm-4 col-12 ng-tns-c137-2">
                            <div class="float-sm-right m-auto ng-tns-c137-2">
                                <abp-pagination-controls id="server" class="ng-tns-c137-2" ng-reflect-id="server">
                                    <pagination-template ng-reflect-id="server" ng-reflect-max-size="7">
                                        <nav>
                                            <ul class="pagination m-0 ng-star-inserted">
                                                <li class="page-item disabled ng-star-inserted"><a href="javascript:;" class="page-link ng-star-inserted"><i class="fas fa-chevron-left"></i></a></li>
                                                <li class="page-item active ng-star-inserted" style="z-index: 0;"><a href="javascript:;" class="page-link"> 1 </a></li>
                                                <li class="page-item disabled ng-star-inserted"><a href="javascript:;" class="page-link ng-star-inserted"><i class="fas fa-chevron-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </pagination-template>
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!---->
    <section class="content px-2 ng-tns-c137-2">
        <div class="container-fluid ng-tns-c137-2">
            <div class="card ng-tns-c137-2">
                <div class="card-header ng-tns-c137-2">
                    <div class="row ng-tns-c137-2">
                        <div class="col-md-6 ng-tns-c137-2">
                            <div>
                                <p style="margin:auto">Thông tin chi tiết</p>
                            </div>
                        </div>
                        <div class="col-md-6 ng-tns-c137-2"></div>
                    </div>
                </div>
                <div class="card-body ng-tns-c137-2">
                    <div class="table-responsive ng-tns-c137-2">
                        <table class="table table-striped table-bordered ng-tns-c137-2" ng-reflect-busy="false">
                            <thead class="bg-light ng-tns-c137-2">
                                <tr class="ng-tns-c137-2">
                                    <th class="ng-tns-c137-2">STT</th>
                                    <th class="ng-tns-c137-2">Tên tài sản</th>
                                    <th class="ng-tns-c137-2">Loại tài sản</th>
                                    <th class="ng-tns-c137-2">Đơn vị tính</th>
                                    <th class="ng-tns-c137-2">Mô tả đặc điểm</th>
                                    <th class="ng-tns-c137-2">Thời gian dự kiến</th>
                                    <th class="ng-tns-c137-2">Số lượng dự kiến</th>
                                    <th class="ng-tns-c137-2">Đơn giá dự kiến</th>
                                    <th class="ng-tns-c137-2">Phương thức</th>
                                </tr>
                            </thead>
                            <tbody class="ng-tns-c137-2">
                                <tr class="ng-tns-c137-2 ng-star-inserted">
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                    <td class="ng-tns-c137-2">Admin</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer table-card-footer bg-light border-top ng-tns-c137-2">
                    <div class="row ng-tns-c137-2">
                        <div class="col-sm-4 col-12 text-sm-left text-center ng-tns-c137-2">
                            <button class="btn btn-secondary ng-tns-c137-2"><i class="fas fa-redo-alt ng-tns-c137-2"></i></button>
                        </div>
                        <div class="col-sm-4 col-12 text-center ng-tns-c137-2">
                            <p class="mb-0 my-2 ng-tns-c137-2"> Total: 1 </p>
                        </div>
                        <div class="col-sm-4 col-12 ng-tns-c137-2">
                            <div class="float-sm-right m-auto ng-tns-c137-2">
                                <abp-pagination-controls id="server" class="ng-tns-c137-2" ng-reflect-id="server">
                                    <pagination-template ng-reflect-id="server" ng-reflect-max-size="7">
                                        <nav>
                                            <ul class="pagination m-0 ng-star-inserted">
                                                <li class="page-item disabled ng-star-inserted"><a href="javascript:;" class="page-link ng-star-inserted"><i class="fas fa-chevron-left"></i></a></li>
                                                <li class="page-item active ng-star-inserted" style="z-index: 0;"><a href="javascript:;" class="page-link"> 1 </a></li>
                                                <li class="page-item disabled ng-star-inserted"><a href="javascript:;" class="page-link ng-star-inserted"><i class="fas fa-chevron-right"></i></a></li>
                                            </ul>
                                        </nav>
                                    </pagination-template>
                                </abp-pagination-controls>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
